
@mixin custom-padding($padding-x: $container-padding-x) {
    padding-right: $padding-x;
    padding-left: $padding-x;
  }
  
@mixin main-btn($cst-width: $width-cstm, $bg-color:$color, $cs-color:$cs-color) {
  width:$cst-width;
  font-size:2rem;
  color:$cs-color;
  background:$bg-color;
  height: 44px;
}

@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
  }

@mixin min1200{
    @media(min-width:1200px){
     @content;
    }  
}
@mixin min1300{
  @media(min-width:1300px){
   @content;
  }  
}
@mixin min991{
  @media(min-width:991px){
   @content;
  }  
}
@mixin max990{
  @media(max-width:990px){
   @content;
  }  
}
@mixin max650{
  @media(max-width:650px){
   @content;
  }  
}