nav.navbar{
    @include min991{
        & {
            padding-top:65px;
        }
      
    }
    @include max650{
        @include custom-padding(25px);
        .logo_container img {
            max-width: 100%;
            height: auto;
            width: 140px;
        }
        .navbar-toggler{
            padding:0px;
        }
    }
    padding-top:35px;
    height:30px;
    @include min1200{
        @include custom-padding(130px);
    };
    @include custom-padding(40px);
        & ul{
            @include min991{
                margin-left:44px;
                margin-top:0px;
                width:420px;
            }
        margin-top:15px;
        width:100%;
        height:auto;
        display: flex;
        justify-content:space-between;
            & li{
                @include min991{
                    margin:0px;
                }
                margin:8px 0px;
                font-size:2rem;
                display: flex;
                justify-content:flex-start;
                    & a.nav-link{
                        padding: 0px!important;
                        font-size: 20px;
                   }
            }
        }
}

.logo_container img{
    width:225px;
}
button.main_btn{
    @include main-btn(110px, $purple,white);
    border-radius:10px
}
button.main_btn.transparent{
    @include main-btn(110px,$transparent,black);
    @include max990{
        border:2px solid $purple;
    }
 
}
@media(min-width:990px) and (max-width:1100px){
    button.main_btn{
        @include main-btn(80px,$purple,white);
        border-radius:10px
    }
}
.navbar-toggler-icon i {
font-size:20px;
}

#form-inline{
    justify-content: space-between;
    @include min991{
        & {
            justify-content: start;
        } 
    }   
    }


